In [2]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\luisP\Downloads\Hackaton-data\Online_Retail.csv", encoding='unicode_escape')

In [7]:
df.sample(10)

,INVOICE_NO,STOCK_CODE,DESCRIPTION,QUANTITY,INVOICE_DATE,UNIT_PRICE,CUSTOMER_ID,REGION
176280,551997,84951B,SET OF 4 BLACK LOVEBIRD COASTERS,2,05/05/2020 15:47,2.46,NaN,United Kingdom
461534,575944,22077,6 RIBBONS RUSTIC CHARM,12,13/11/2020 11:46,1.95,16571.0,United Kingdom
415861,572550,21739,COSY SLIPPER SHOES SMALL GREEN,2,24/10/2020 17:06,2.46,NaN,United Kingdom
191548,553375,23111,PARISIENNE SEWING BOX,4,16/05/2020 14:53,12.50,14911.0,EIRE
56830,541115,22310,IVORY KNITTED MUG COSY,18,13/01/2020 15:34,1.65,12578.0,Italy
349737,567526,22192,BLUE DINER WALL CLOCK,36,21/09/2020 09:06,7.65,12435.0,Denmark
531751,580964,22178,VICTORIAN GLASS HANGING T-LIGHT,12,06/12/2020 14:50,1.95,15822.0,United Kingdom
279650,561355,22622,BOX OF VINTAGE ALPHABET BLOCKS,24,26/07/2020 14:51,9.95,13090.0,United Kingdom
410259,572098,21930,JUMBO STORAGE BAG SKULLS,10,20/10/2020 15:38,2.08,15117.0,United Kingdom
101153,544903,22151,PLACE SETTING WHITE HEART,24,24/02/2020 13:43,0.42,18065.0,United Kingdom

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   INVOICE_NO    541909 non-null  object
 1   STOCK_CODE    541909 non-null  object
 2   DESCRIPTION   540455 non-null  object
 3   QUANTITY      541909 non-null  int64
 4   INVOICE_DATE  541909 non-null  object
 5   UNIT_PRICE    541909 non-null  float64
 6   CUSTOMER_ID   406829 non-null  float64
 7   REGION        541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
QUANTITY,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UNIT_PRICE,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CUSTOMER_ID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

In [10]:
df.select_dtypes('object').describe().T

               count unique                                 top    freq
INVOICE_NO    541909  25900                              573585    1114
STOCK_CODE    541909   4070                              85123A    2313
DESCRIPTION   540455   4214  WHITE HANGING HEART T-LIGHT HOLDER    2369
INVOICE_DATE  541909  23260                    31/10/2020 14:41    1114
REGION        541909     38                      United Kingdom  495478

In [11]:
df.isna().sum()

INVOICE_NO           0
STOCK_CODE           0
DESCRIPTION       1454
QUANTITY             0
INVOICE_DATE         0
UNIT_PRICE           0
CUSTOMER_ID     135080
REGION               0
dtype: int64